// @import './variables.scss';
@import './reset.scss';
@import './mixin.scss';

html,
body #app {
    color: #333333;
    font-family: 'PingFang SC', 'PingFang SC-Medium', 'STHeiti STXihei', 'Microsoft YaHei', Arial, Helvetica, Tohoma, sans-serif;
    background-color: var(--background-color);
}
.fs-13 {
    font-size: 13px;
}
